In [3]:
import pandas as pd

# 연속 로그 출력
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings("ignore")

In [4]:
import yfinance as yf

msft = yf.Ticker("MSFT")

In [5]:
# get stock info
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 221000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425 706 7329',
 'industry': 'Software—Infrastructure',
 'ebitdaMargins': 0.49418998,
 'profitMargins': 0.36686,
 'grossMargins': 0.68402,
 'operatingCashflow': 89034997760,
 'revenueGrowth': 0.124,
 'operatingMargins': 0.42055,
 'ebitda': 97982996480,
 'targetLowPrice': 250,
 'recommendationKey': 'buy',
 'grossProfits': 135620000000,
 'freeCashflow': 49479000064,
 'targetMedianPrice': 330,
 'currentPrice': 291.32,
 'earningsGrowth': 0.031,
 'currentRatio': 1.785,
 'returnOnAssets': 0.14919,
 'numberOfAnalystOpinions': 47,
 'targetMeanPrice': 333,
 'debtToEquity': 47.075,
 'returnOnEquity': 0.47151002,
 'targetHighPrice': 411,
 'totalCash': 104748998656,
 'totalDebt': 78399995904,
 'totalRevenue': 198269992960,
 'totalCashPerShare': 14.045,
 'financialCurrency': 'USD',
 'revenuePerShare': 26.45,
 'quickRatio': 1.567,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.906,
 'beta3Year': None,
 'enterpriseToEbitda': 22.068,
 '52WeekChange': 0.0068104267,
 'morningStarRiskRating': None,
 'forwardEps': 11.92,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7457889792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 22.313,
 'sharesShort': 38192351,
 'sharesPercentSharesOut': 0.0050999997,
 'fundFamily': None,
 'lastFiscalYearEnd': 1656547200,
 'heldPercentInstitutions': 0.72105,
 'netIncomeToCommon': 72737996800,
 'trailingEps': 9.65,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.021605492,
 'priceToBook': 13.0560665,
 'heldPercentInsiders': 0.00074,
 'nextFiscalYearEnd': 1719705600,
 'yield': None,
 'mostRecentQuarter': 1656547200,
 'shortRatio': 1.43,
 'sharesShortPreviousMonthDate': 1656547200,
 'floatShares': 7450657717,
 'beta': 0.927206,
 'enterpriseValue': 2162318508032,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1652832000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.017,
 'priceToSalesTrailing12Months': 10.95795,
 'dateShortInterest': 1659052800,
 'pegRatio': 1.88,
 'ytdReturn': None,
 'forwardPE': 24.439598,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0050999997,
 'sharesShortPriorMonth': 38896339,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 292.09,
 'regularMarketOpen': 289.74,
 'twoHundredDayAverage': 294.2482,
 'trailingAnnualDividendYield': 0.008490534,
 'payoutRatio': 0.2508,
 'volume24Hr': None,
 'regularMarketDayHigh': 293.3436,
 'navPrice': None,
 'averageDailyVolume10Day': 20404560,
 'regularMarketPreviousClose': 292.09,
 'fiftyDayAverage': 265.9096,
 'trailingAnnualDividendRate': 2.48,
 'open': 289.74,
 'toCurrency': None,
 'averageVolume10days': 20404560,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1660694400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 289.47,
 'currency': 'USD',
 'trailingPE': 30.188602,
 'regularMarketVolume': 17763569,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2172632563712,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 27231217,
 'dayLow': 289.47,
 'ask': 290.71,
 'askSize': 800,
 'volume': 17763569,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.23,
 'fiftyTwoWeekLow': 241.51,
 'bid': 290.52,
 'tradeable': False,
 'dividendYield': 0.0085,
 'bidSize': 800,
 'dayHigh': 293.3436,
 'coinMarketCapLink': None,
 'regularMarketPrice': 291.32,
 'preMarketPrice': 289.51,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 2.1803}

In [29]:
# get historical market data
hist = msft.history(period="max")
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1986-03-13,0.055654,0.063838,0.055654,0.061109,1031788800,0.0,0.0
1,1986-03-14,0.061109,0.064384,0.061109,0.063292,308160000,0.0,0.0
2,1986-03-17,0.063292,0.064929,0.063292,0.064384,133171200,0.0,0.0
3,1986-03-18,0.064383,0.064929,0.062201,0.062746,67766400,0.0,0.0
4,1986-03-19,0.062746,0.063292,0.061109,0.061655,47894400,0.0,0.0
...,...,...,...,...,...,...,...,...
9178,2022-08-11,290.850006,291.209991,286.510010,287.019989,20065900,0.0,0.0
9179,2022-08-12,288.480011,291.910004,286.940002,291.910004,22601900,0.0,0.0
9180,2022-08-15,291.000000,294.179993,290.109985,293.470001,18085700,0.0,0.0
9181,2022-08-16,291.989990,294.040009,290.420013,292.709991,18102900,0.0,0.0
9182,2022-08-17,289.739990,293.343597,289.470001,291.320007,17763569,0.0,0.0

In [8]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2021-05-19       0.56           0.0
2021-08-18       0.56           0.0
2021-11-17       0.62           0.0
2022-02-16       0.62           0.0
2022-05-18       0.62           0.0

[83 rows x 2 columns]

In [9]:
# show dividends
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2021-05-19    0.56
2021-08-18    0.56
2021-11-17    0.62
2022-02-16    0.62
2022-05-18    0.62
Name: Dividends, Length: 74, dtype: float64

In [10]:
# show splits
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [11]:
# show financials
msft.financials
msft.quarterly_financials

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Research Development,2.4512e+10,2.0716e+10,1.9269e+10,1.6876e+10
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,8.3716e+10,7.1102e+10,5.3036e+10,4.3688e+10
Minority Interest,None,None,None,None
Net Income,7.2738e+10,6.1271e+10,4.4281e+10,3.924e+10
Selling General Administrative,2.7725e+10,2.5224e+10,2.4709e+10,2.3098e+10
Gross Profit,1.3562e+11,1.15856e+11,9.6937e+10,8.2933e+10
Ebit,8.3383e+10,6.9916e+10,5.2959e+10,4.2959e+10
Operating Income,8.3383e+10,6.9916e+10,5.2959e+10,4.2959e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-2.047e+09,-2.33e+09,-2.591e+09,-2.686e+09
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1.0978e+10,9.831e+09,8.755e+09,4.448e+09
Total Revenue,1.9827e+11,1.68088e+11,1.43015e+11,1.25843e+11
Total Operating Expenses,1.14887e+11,9.8172e+10,9.0056e+10,8.2884e+10
Cost Of Revenue,6.265e+10,5.2232e+10,4.6078e+10,4.291e+10
Total Other Income Expense Net,3.33e+08,1.186e+09,7.7e+07,7.29e+08
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,7.2738e+10,6.1271e+10,4.4281e+10,3.924e+10
Net Income Applicable To Common Shares,7.2738e+10,6.1271e+10,4.4281e+10,3.924e+10

,2022-06-30,2022-03-31,2021-12-31,2021-09-30
Research Development,6.849e+09,6.306e+09,5.758e+09,5.599e+09
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,2.0487e+10,2.019e+10,2.2515e+10,2.0524e+10
Minority Interest,None,None,None,None
Net Income,1.674e+10,1.6728e+10,1.8765e+10,2.0505e+10
Selling General Administrative,8.053e+09,7.075e+09,6.763e+09,5.834e+09
Gross Profit,3.5436e+10,3.3745e+10,3.4768e+10,3.1671e+10
Ebit,2.0534e+10,2.0364e+10,2.2247e+10,2.0238e+10
Operating Income,2.0534e+10,2.0364e+10,2.2247e+10,2.0238e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-4.92e+08,-4.99e+08,-5.21e+08,-5.35e+08
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,3.747e+09,3.462e+09,3.75e+09,1.9e+07
Total Revenue,5.1865e+10,4.936e+10,5.1728e+10,4.5317e+10
Total Operating Expenses,3.1331e+10,2.8996e+10,2.9481e+10,2.5079e+10
Cost Of Revenue,1.6429e+10,1.5615e+10,1.696e+10,1.3646e+10
Total Other Income Expense Net,-4.7e+07,-1.74e+08,2.68e+08,2.86e+08
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,1.674e+10,1.6728e+10,1.8765e+10,2.0505e+10
Net Income Applicable To Common Shares,1.674e+10,1.6728e+10,1.8765e+10,2.0505e+10

In [12]:
# show major holders
msft.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  72.11%       % of Shares Held by Institutions
2  72.16%        % of Float Held by Institutions
3    5927  Number of Institutions Holding Shares

In [13]:
# show institutional holders
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",628109007,2022-06-29,0.0842,182980720519
1,Blackrock Inc.,522551885,2022-06-29,0.0701,152229818965
2,State Street Corporation,300098242,2022-03-30,0.0402,87424622057
3,"FMR, LLC",207201641,2022-06-29,0.0278,60361983573
4,Price (T.Rowe) Associates Inc,195303799,2022-03-30,0.0262,56895904155
5,"Geode Capital Management, LLC",136945361,2022-06-29,0.0184,39894923569
6,Capital World Investors,104707015,2022-03-30,0.0140,30503248376
7,JP Morgan Chase & Company,91034485,2022-06-29,0.0122,26520166836
8,Northern Trust Corporation,86713343,2022-03-30,0.0116,25261331717
9,Capital International Investors,86682397,2022-03-30,0.0116,25252316528
10,Capital Research Global Investors,86423951,2022-03-30,0.0116,25177026038

In [14]:
# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Intangible Assets,1.129800e+10,7.800000e+09,7.038000e+09,7.750000e+09
Total Liab,1.982980e+11,1.917910e+11,1.830070e+11,1.842260e+11
Total Stockholder Equity,1.665420e+11,1.419880e+11,1.183040e+11,1.023300e+11
Other Current Liab,5.938400e+10,5.261200e+10,4.600100e+10,4.586000e+10
Total Assets,3.648400e+11,3.337790e+11,3.013110e+11,2.865560e+11
Common Stock,8.693900e+10,8.311100e+10,8.055200e+10,7.852000e+10
Other Current Assets,1.693200e+10,1.347100e+10,1.151700e+10,1.013300e+10
Retained Earnings,8.428100e+10,5.705500e+10,3.456600e+10,2.415000e+10
Other Liab,3.085300e+10,3.168100e+10,3.449200e+10,3.569900e+10
Good Will,6.752400e+10,4.971100e+10,4.335100e+10,4.202600e+10
Treasury Stock,-4.678000e+09,1.822000e+09,3.186000e+09,-3.400000e+08
Other Assets,2.189700e+10,1.507500e+10,1.313800e+10,1.472300e+10
Cash,1.393100e+10,1.422400e+10,1.357600e+10,1.135600e+10
Total Current Liabilities,9.508200e+10,8.865700e+10,7.231000e+10,6.942000e+10
Deferred Long Term Asset Charges,1.351500e+10,7.181000e+09,6.405000e+09,7.536000e+09
Short Long Term Debt,2.749000e+09,8.072000e+09,3.749000e+09,5.516000e+09
Other Stockholder Equity,-4.678000e+09,1.822000e+09,3.186000e+09,-3.400000e+08
Property Plant Equipment,8.754600e+10,7.080300e+10,5.290400e+10,4.385600e+10
Total Current Assets,1.696840e+11,1.844060e+11,1.819150e+11,1.755520e+11
Long Term Investments,6.891000e+09,5.984000e+09,2.965000e+09,2.649000e+09
Net Tangible Assets,8.772000e+10,8.447700e+10,6.791500e+10,5.255400e+10
Short Term Investments,9.081800e+10,1.160320e+11,1.229160e+11,1.224760e+11
Net Receivables,4.426100e+10,3.804300e+10,3.201100e+10,2.952400e+10
Long Term Debt,4.703200e+10,5.007400e+10,5.957800e+10,6.666200e+10
Inventory,3.742000e+09,2.636000e+09,1.895000e+09,2.063000e+09
Accounts Payable,1.900000e+10,1.516300e+10,1.253000e+10,9.382000e+09

,2022-06-30,2022-03-31,2021-12-31,2021-09-30
Intangible Assets,1.129800e+10,1.134800e+10,7.462000e+09,7.794000e+09
Total Liab,1.982980e+11,1.816830e+11,1.803790e+11,1.834400e+11
Total Stockholder Equity,1.665420e+11,1.629240e+11,1.600100e+11,1.519780e+11
Other Current Liab,5.938400e+10,4.739100e+10,4.634600e+10,5.262200e+10
Total Assets,3.648400e+11,3.446070e+11,3.403890e+11,3.354180e+11
Common Stock,8.693900e+10,8.576700e+10,8.452800e+10,8.375100e+10
Other Current Assets,1.693200e+10,1.335300e+10,1.230100e+10,1.298200e+10
Retained Earnings,8.428100e+10,7.963300e+10,7.504500e+10,6.694400e+10
Other Liab,3.085300e+10,3.115900e+10,3.058400e+10,3.015700e+10
Good Will,6.752400e+10,6.737100e+10,5.092100e+10,5.045500e+10
Treasury Stock,-4.678000e+09,-2.476000e+09,4.370000e+08,1.283000e+09
Other Assets,2.189700e+10,2.184500e+10,2.125600e+10,2.110300e+10
Cash,1.393100e+10,1.249800e+10,2.060400e+10,1.916500e+10
Total Current Liabilities,9.508200e+10,7.743900e+10,7.751000e+10,8.052800e+10
Deferred Long Term Asset Charges,1.351500e+10,NaN,NaN,NaN
Short Long Term Debt,2.749000e+09,1.749000e+09,4.998000e+09,3.249000e+09
Other Stockholder Equity,-4.678000e+09,-2.476000e+09,4.370000e+08,1.283000e+09
Property Plant Equipment,8.754600e+10,8.321400e+10,7.956800e+10,7.534700e+10
Total Current Assets,1.696840e+11,1.539220e+11,1.741880e+11,1.743260e+11
Long Term Investments,6.891000e+09,6.907000e+09,6.994000e+09,6.393000e+09
Net Tangible Assets,8.772000e+10,8.420500e+10,1.016270e+11,9.372900e+10
Short Term Investments,9.081800e+10,9.216200e+10,1.047440e+11,1.114190e+11
Net Receivables,4.426100e+10,3.261300e+10,3.352000e+10,2.734900e+10
Long Term Debt,4.703200e+10,4.817700e+10,4.826000e+10,5.003900e+10
Inventory,3.742000e+09,3.296000e+09,3.019000e+09,3.411000e+09
Accounts Payable,1.900000e+10,1.608500e+10,1.531400e+10,1.483200e+10

In [15]:
# show cashflow
msft.cashflow
msft.quarterly_cashflow

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Investments,1.843800e+10,2.876000e+09,6.980000e+09,5.400000e+08
Change To Liabilities,8.052000e+09,7.431000e+09,5.230000e+09,4.694000e+09
Total Cashflows From Investing Activities,-3.031100e+10,-2.757700e+10,-1.222300e+10,-1.577300e+10
Net Borrowings,-9.023000e+09,-3.750000e+09,-5.518000e+09,-4.000000e+09
Total Cash From Financing Activities,-5.887600e+10,-4.848600e+10,-4.603100e+10,-3.688700e+10
Change To Operating Activities,-3.450000e+08,1.160000e+09,-6.730000e+08,-1.542000e+09
Issuance Of Stock,1.841000e+09,1.693000e+09,1.343000e+09,1.142000e+09
Net Income,7.273800e+10,6.127100e+10,4.428100e+10,3.924000e+10
Change In Cash,-2.930000e+08,6.480000e+08,2.220000e+09,-5.900000e+08
Repurchase Of Stock,-3.269600e+10,-2.738500e+10,-2.296800e+10,-1.954300e+10
Effect Of Exchange Rate,-1.410000e+08,-2.900000e+07,-2.010000e+08,-1.150000e+08
Total Cash From Operating Activities,8.903500e+10,7.674000e+10,6.067500e+10,5.218500e+10
Depreciation,1.460000e+10,1.090000e+10,1.230000e+10,1.160000e+10
Other Cashflows From Investing Activities,-2.825000e+09,-9.220000e+08,-1.241000e+09,-1.241000e+09
Dividends Paid,-1.813500e+10,-1.652100e+10,-1.513700e+10,-1.381100e+10
Change To Inventory,-1.123000e+09,-7.370000e+08,1.680000e+08,5.970000e+08
Change To Account Receivables,-6.834000e+09,-6.481000e+09,-2.577000e+09,-2.812000e+09
Other Cashflows From Financing Activities,-8.630000e+08,-2.523000e+09,-3.751000e+09,-6.750000e+08
Change To Netincome,1.251000e+09,5.505000e+09,5.577000e+09,-2.521000e+09
Capital Expenditures,-2.388600e+10,-2.062200e+10,-1.544100e+10,-1.392500e+10

,2022-06-30,2022-03-31,2021-12-31,2021-09-30
Investments,-4.570000e+08,9.069000e+09,5.643000e+09,4.183000e+09
Change To Liabilities,1.520500e+10,3.110000e+08,-4.108000e+09,-3.356000e+09
Total Cashflows From Investing Activities,-9.729000e+09,-1.617100e+10,-1.161000e+09,-3.250000e+09
Total Cash From Financing Activities,-1.326900e+10,-1.734500e+10,-1.198600e+10,-1.627600e+10
Change To Operating Activities,3.540000e+08,1.092000e+09,1.760000e+09,-3.551000e+09
Issuance Of Stock,4.610000e+08,4.770000e+08,2.910000e+08,6.120000e+08
Net Income,1.674000e+10,1.672800e+10,1.876500e+10,2.050500e+10
Change In Cash,1.433000e+09,-8.106000e+09,1.439000e+09,4.941000e+09
Repurchase Of Stock,-8.757000e+09,-8.822000e+09,-7.433000e+09,-7.684000e+09
Effect Of Exchange Rate,-1.980000e+08,2.400000e+07,1.060000e+08,-7.300000e+07
Total Cash From Operating Activities,2.462900e+10,2.538600e+10,1.448000e+10,2.454000e+10
Depreciation,4.119000e+09,3.773000e+09,3.496000e+09,3.212000e+09
Other Cashflows From Investing Activities,-1.138000e+09,-1.181000e+09,-8.900000e+07,-4.170000e+08
Dividends Paid,-4.632000e+09,-4.645000e+09,-4.652000e+09,-4.206000e+09
Change To Inventory,-4.610000e+08,-2.790000e+08,3.940000e+08,-7.770000e+08
Change To Account Receivables,-1.263400e+10,8.570000e+08,-5.543000e+09,1.048600e+10
Other Cashflows From Financing Activities,-3.410000e+08,-1.580000e+08,-1.920000e+08,-1.720000e+08
Change To Netincome,2.297000e+09,1.813000e+09,1.773000e+09,-4.632000e+09
Capital Expenditures,-6.871000e+09,-5.340000e+09,-5.865000e+09,-5.810000e+09
Net Borrowings,NaN,-4.197000e+09,-4.197000e+09,-4.826000e+09

In [28]:
# show earnings
msft.earnings.reset_index()
msft.quarterly_earnings.reset_index()

   Year       Revenue     Earnings
0  2019  125843000000  39240000000
1  2020  143015000000  44281000000
2  2021  168088000000  61271000000
3  2022  198270000000  72738000000

  Quarter      Revenue     Earnings
0  3Q2021  45317000000  20505000000
1  4Q2021  51728000000  18765000000
2  1Q2022  49360000000  16728000000
3  2Q2022  51865000000  16740000000

In [27]:
# show sustainability
msft.sustainability.reset_index()

                   2022-8                Value
0                 palmOil                False
1    controversialWeapons                False
2                gambling                False
3             socialScore                 8.39
4                 nuclear                False
5              furLeather                False
6               alcoholic                False
7                     gmo                False
8                catholic                False
9        socialPercentile                 None
10              peerCount                  105
11        governanceScore                 5.33
12  environmentPercentile                 None
13          animalTesting                False
14                tobacco                False
15               totalEsg                15.24
16     highestControversy                    3
17         esgPerformance           UNDER_PERF
18                   coal                False
19             pesticides                False
20                  adult                False
21             percentile                10.73
22              peerGroup  Software & Services
23              smallArms                False
24       environmentScore                 1.53
25   governancePercentile                 None
26       militaryContract                False

In [26]:
# show analysts recommendations
msft.recommendations.reset_index()

                   Date            Firm       To Grade From Grade Action
0   2012-03-16 08:19:00  Argus Research            Buy                up
1   2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2   2012-03-22 07:03:00  Morgan Stanley     Overweight              main
3   2012-04-03 11:53:00             UBS            Buy              main
4   2012-04-20 06:18:00   Deutsche Bank            Buy              main
..                  ...             ...            ...        ...    ...
389 2022-07-27 11:12:18       JP Morgan     Overweight              main
390 2022-07-27 11:14:20   Deutsche Bank            Buy              main
391 2022-07-27 12:50:51     Cowen & Co.     Outperform              main
392 2022-07-29 09:11:53  Wolfe Research     Outperform              main
393 2022-08-12 10:54:35      Guggenheim        Neutral              init

[394 rows x 5 columns]

In [19]:
# show next event (earnings, etc)
msft.calendar

                                    0                    1
Earnings Date     2022-10-24 10:59:00  2022-10-28 12:00:00
Earnings Average                 2.32                 2.32
Earnings Low                     2.25                 2.25
Earnings High                    2.43                 2.43
Revenue Average           49903200000          49903200000
Revenue Low               49490000000          49490000000
Revenue High              51965000000          51965000000

In [25]:
# show all earnings dates
msft.earnings_dates.reset_index()

                Earnings Date  EPS Estimate  Reported EPS  Surprise(%)
0   2022-10-24 06:00:00-04:00          2.32           NaN          NaN
1   2022-07-26 12:00:00-04:00          2.29          2.23      -0.0275
2   2022-04-26 12:00:00-04:00          2.19          2.22       0.0160
3   2022-01-25 11:00:00-05:00          2.31          2.48       0.0727
4   2021-10-26 12:00:00-04:00          2.08          2.27       0.0940
..                        ...           ...           ...          ...
115 1994-01-19 00:00:00-05:00          0.03          0.03       0.0189
116 1993-10-20 00:00:00-04:00          0.02          0.02       0.0181
117 1993-07-28 00:00:00-04:00          0.03          0.03       0.0172
118 1993-04-14 00:00:00-04:00          0.02          0.03       0.0196
119 1993-01-16 00:00:00-05:00          0.02          0.02      -0.0041

[120 rows x 4 columns]

In [21]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'-'

In [22]:
# show options expirations
msft.options

('2022-08-19',
 '2022-08-26',
 '2022-09-02',
 '2022-09-09',
 '2022-09-16',
 '2022-09-23',
 '2022-09-30',
 '2022-10-21',
 '2022-11-18',
 '2022-12-16',
 '2023-01-20',
 '2023-02-17',
 '2023-03-17',
 '2023-06-16',
 '2023-09-15',
 '2024-01-19',
 '2024-06-21')

In [23]:
# show news
msft.news

[{'uuid': '0dece607-b810-3e79-90a1-c0a78253984b',
  'title': 'Famed Investor Druckenmiller Dumps Amazon',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/0dece607-b810-3e79-90a1-c0a78253984b/famed-investor-druckenmiller.html',
  'providerPublishTime': 1660769340,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/hwRGYxTwu7Oy4d5biWzu.A--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/uu/api/res/1.2/PaOlWBDDOsJBKSR4_tnPMg--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/thestreet.com/130e17970f2f21fe19150fe78854ce28',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/rjOBharE3nr8lAnRYUoVqg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/PaOlWBDDOsJBKSR4_tnPMg--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/thestreet.com/130e17970f2f21fe19150fe78854ce28',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'AMZN']},
 {'uuid': '0e598be1-903e-3d7e-832b-15774277520a',
  'title': 'The Story of the Greatest Mom and Pop Investor Ever',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/story-greatest-mom-pop-investor-191107126.html',
  'providerPublishTime': 1660763467,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/fp.mF0..GHOj63b6kOvDbg--~B/aD00MDA7dz02MzU7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/uu/api/res/1.2/iA0pEpik6fVUsCBAoxgiUg--~B/aD00MDA7dz02MzU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/8a61c7cb9a22ca41cfb9605a78d42897',
     'width': 635,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/1b5w07DtEPN1SHnXPDotKw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/iA0pEpik6fVUsCBAoxgiUg--~B/aD00MDA7dz02MzU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/8a61c7cb9a22ca41cfb9605a78d42897',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['PNC-PP', 'MSFT', 'HON', 'PEP', 'MRK']},
 {'uuid': '68ca8583-4f27-3819-97b0-af3ac6718614',
  'title': 'IBM Spinoff Kyndryl Is Betting on\xa0Amazon, Microsoft, and Google for Growth',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/ibm-spinoff-kyndryl-betting-amazon-171753264.html',
  'providerPublishTime': 1660756673,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/2ez8uKeD0V3OXuREsMp6RA--~B/aD03OTI7dz0xMjk2O2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/js.JYUbY1kZKRNqk4KaqKQ--~B/aD03OTI7dz0xMjk2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_technology_68/2eaf60d678976135ceb23695843133a8',
     'width': 1296,
     'height': 792,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/Tm35nnbvTZMoHQveHASiBQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/js.JYUbY1kZKRNqk4KaqKQ--~B/aD03OTI7dz0xMjk2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_technology_68/2eaf60d678976135ceb23695843133a8',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AMZN', 'MSFT', 'GOOG', 'GOOGL', 'KD', 'IBM']},
 {'uuid': '754b483c-7a62-4ae9-8175-123549b5784e',
  'title': 'Where is value in the metaverse? Experts detail promises and risks',
  'publisher': 'Yahoo Finance',
  'link': 'https://finance.yahoo.com/news/where-is-value-in-the-metaverse-experts-detail-promises-and-risks-171316848.html',
  'providerPublishTime': 1660756396,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Ju4YuwjGlPafSEYgInllxA--~B/aD0zMDQ4O3c9NDU3MjthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2022-03/90424f60-aada-11ec-bf7f-b284db966fb8',
     'width': 4572,
     'height': 3048,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/CRoowfgx9XgpQThu_sRM8A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2022-03/90424f60-aada-11ec-bf7f-b284db966fb8',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'GOOG', 'GOOGL', 'MSFT']},
 {'uuid': 'f9e3c029-2453-38e6-a9bf-eedc0ce911bd',
  'title': "Top Millennial Stock Pick Tesla's CEO Musk 'Jokes' About Buying Manchester United Soccer Team",
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/f9e3c029-2453-38e6-a9bf-eedc0ce911bd/top-millennial-stock-pick.html',
  'providerPublishTime': 1660754247,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/ygj244o_N_7AghdizcXBZw--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/JYsp5hKyJbd_28HRU8ruOA--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/e7cc27ae1771d244575433a4d2a3619a',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/yVHiPyQb8ExjvgY1.NKEPQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/JYsp5hKyJbd_28HRU8ruOA--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/e7cc27ae1771d244575433a4d2a3619a',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TSLA', 'AMC', 'AAPL', 'AMD', 'MSFT', 'NVDA']},
 {'uuid': '97e105bc-e2a2-325e-897a-e16fa176daf8',
  'title': 'Activision Blizzard accused of trying to stop workers communicating about pay and working conditions',
  'publisher': 'Fortune',
  'link': 'https://finance.yahoo.com/news/activision-blizzard-accused-trying-stop-152340864.html',
  'providerPublishTime': 1660749820,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/bb4BobpbckCjrym2zf75tQ--~B/aD0zMDczO3c9NDIwMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/uu/api/res/1.2/QFDZU85YqVCIq5f9tU6lWg--~B/aD0zMDczO3c9NDIwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/fortune_175/0c1abccd347ce8ead12e76ff5fe8a15f',
     'width': 4200,
     'height': 3073,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/hcrck7vVgdlWGO99HgZixw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/QFDZU85YqVCIq5f9tU6lWg--~B/aD0zMDczO3c9NDIwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/fortune_175/0c1abccd347ce8ead12e76ff5fe8a15f',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['ATVI', 'MSFT']},
 {'uuid': 'b7efb52e-429f-3bf0-86eb-f42e2342c0e3',
  'title': 'Bill Gates and the Secret Push to Save Biden’s Climate Bill',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/bill-gates-secret-push-save-203017012.html',
  'providerPublishTime': 1660742257,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/jFR2yTdxVeQBKHo_e_pmGA--~B/aD0yMzkxO3c9MzU4NjthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/uu/api/res/1.2/3IohR.wqM8fL9406zE4PXg--~B/aD0yMzkxO3c9MzU4NjthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_politics_602/19a7918139d1e39ab451082c1781f7c4',
     'width': 3586,
     'height': 2391,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/meQN4UFG56mNIsyQB6EJTw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/3IohR.wqM8fL9406zE4PXg--~B/aD0yMzkxO3c9MzU4NjthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_politics_602/19a7918139d1e39ab451082c1781f7c4',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'AAPL']},
 {'uuid': '4f6814b2-930c-30de-bee5-9932dc0dfc0b',
  'title': 'Special Olympics and Microsoft Level Up for 2022 Gaming for Inclusion',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/special-olympics-microsoft-level-2022-130000742.html',
  'providerPublishTime': 1660741200,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/BVODXeya.wT_EiB3IECnKw--~B/aD0yMjU7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/uu/api/res/1.2/r1s0PxdoHbHOcDXBsPyXMg--~B/aD0yMjU7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/1e30d9327932350ac7ff6fbf475911df',
     'width': 400,
     'height': 225,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/S5go9kbwheg3CDEjHPe.Nw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/r1s0PxdoHbHOcDXBsPyXMg--~B/aD0yMjU7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/1e30d9327932350ac7ff6fbf475911df',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']}]

In [24]:
# get option chain for specific expiration
opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

ValueError: Expiration `YYYY-MM-DD` cannot be found. Available expiration are: [2022-08-19, 2022-08-26, 2022-09-02, 2022-09-09, 2022-09-16, 2022-09-23, 2022-09-30, 2022-10-21, 2022-11-18, 2022-12-16, 2023-01-20, 2023-02-17, 2023-03-17, 2023-06-16, 2023-09-15, 2024-01-19, 2024-06-21]